main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 48px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.controls > button {
  width: fit-content;
}

input[type="range"] {
  writing-mode: vertical-lr;
}

#slider-label {
  text-align: center;
}

.slider-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}

#grid-container {
  max-width: 800px;
  max-height: 800px;
  overflow: hidden;
  border-bottom: 1px solid lightblue;
  border-right: 1px solid lightblue;
  margin-top: 48px;
  flex: 1;
}

.row {
  display: flex;
}

.rowBox {
  flex: 1 0 auto;
  aspect-ratio: 1/1;
  border: 1px solid lightblue;
  border-bottom: none;
  border-right: none;
  text-align: center;
}
